
.icon-basket:before { content: '\e800'; } /* '' */
.icon-globe:before { content: '\e801'; } /* '' */
.icon-search:before { content: '\e802'; } /* '' */
.icon-lock-open-alt:before { content: '\f13e'; } /* '' */